.container-content{
    border: 1px solid var(--blanco);
    width: 98px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 13px;
    background-color: var(--blanco);
}
.quantity{
    border: none;
    font-size: 28px;
    background-color: var(--blanco);
}