a{
    text-decoration: none !important;
    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    color: var(--azul) !important;
}
a:hover{
    color: var(--morado) !important;
}
a:active{
    color: var(--rosa) !important;
}
@media screen and (min-width:540px) {
    a{
        color: var(--blanco) !important;
    }
    a:hover{
        color: var(--morado) !important;
    }
    a:active{
        color: var(--rosa) !important;
    }
}