a{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    color: black;
}
a:hover{
    color: var(--morado);
}
a:active{
    color: var(--rosa);
}
@media screen and (min-width:540px) {
    a{
        text-decoration: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        color: var(--blanco);
    }
    a:hover{
        color: var(--morado);
    }
    a:active{
        color: var(--rosa);
    }
}