.footer{
    background-color: var(--azul);
    display: flex;
    flex-direction: column !important;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.social{
    display: flex;
}
@media screen and (min-width:281px) {
    .footer{
        flex-direction: row !important;
    }
}