@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@400;600&family=Questrial&display=swap');
:root{
    --rosa: #F5B7B1;
    --morado: #9C89B8;
    --azul: #2B3E50;
    --oro: #F9A602;
    --blanco : #FDFDFD;
}