.bags{
    margin-top: 10px;
    width: 100%;
    margin-top: 16px;
}
.imgProduct{
    width: 100%;
    height: 80%;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.row{
    flex-direction: column !important;
}
.productCard{
    background-color: var(--azul);
    margin-top: 10px;
}
.subtitle{
    font-family: 'Questrial';
    font-style: normal;
    font-weight: 400;
    color: var(--blanco);
}
.customParagraph{
    color: var(--blanco);
    font-weight: 400;
}
@media screen and (min-width:281px) {
    .row{
        flex-direction: row !important;
    }
}