.btn-primary{
    background-color: var(--oro);
    border-radius: 10px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    color: black;
}
.btn-primary:hover{
    background-color: var(--morado);
}
.btn-primary:active{
    background-color: var(--rosa) !important;
}