.Navbar{
    margin-top: 13px;
    background-color: var(--blanco) !important;
}
.custom-button{
    border: none;
    color: transparent;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(249, 166, 2)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
@media screen and (min-width:540px) {
    .Navbar{
        background-color: var(--azul) !important;
    }
}